[submodule "tools/ppcg"]
	path = tools/ppcg
	url = https://github.com/iviarcio/ppcg.git
[submodule "tools/clang"]
	path = tools/clang
	url = https://github.com/iviarcio/clang-mptogpu.git
[submodule "tools/vectorize"]
	path = tools/vectorize
	url = https://github.com/iviarcio/vectorize.git
[submodule "tools/scan"]
	path = tools/scan
	url = https://github.com/iviarcio/scan.git
